absl-py==2.0.0
aiodns==3.1.1
aiohttp==3.9.1
aiohttp-cors==0.7.0
aiosignal==1.3.1
alabaster==0.7.16
alpaca-trade-api==3.2.0
annotated-types==0.6.0
anyio 
appdirs==1.4.4
appnope
argon2-cffi 
argon2-cffi-bindings 
asttokens 
astunparse==1.6.3
async-lru 
async-timeout==4.0.3
attrs 
AutoROM==0.6.1
AutoROM.accept-rom-license==0.6.1
Babel 
beautifulsoup4
bleach 
blessed==1.20.0
box2d-py==2.3.5
cachetools==5.3.2
ccxt==3.1.60
certifi==2023.11.17
cffi 
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.3.2
clarabel==0.6.0
click==8.1.7
cloudpickle 
colorful==0.5.6
comm 
commonmark==0.9.1
contourpy==1.2.0
cryptography==41.0.7
cvxpy==1.4.1
cycler==0.12.1
debugpy 
decorator 
defusedxml 
deprecation==2.1.0
distlib==0.3.8
dm-tree==0.1.8
docutils==0.20.1
ecos==2.0.12
elegantrl==0.3.6
empyrical==0.5.5
exceptiongroup 
executing 
Farama-Notifications==0.0.4
fastapi==0.109.2
fastjsonschema 
filelock==3.13.1
flatbuffers==23.5.26
fonttools==4.47.2
frozendict==2.4.0
frozenlist==1.4.1
fsspec==2023.12.2
gast==0.5.4
google-api-core==2.15.0
google-auth==2.26.2
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
googleapis-common-protos==1.62.0
gpustat==1.1.1
GPUtil==1.4.0
grpcio==1.60.0
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.1
h11==0.14.0
h5py==3.10.0
html5lib==1.1
identify==2.5.33
idna 
imagesize==1.4.1
importlib-metadata==4.13.0
importlib-resources==6.1.1
iniconfig==2.0.0
ipykernel 
ipython 
ipywidgets 
jedi 
Jinja2 
joblib==1.3.2
jqdatasdk==1.9.2
json5 
jsonschema 
jsonschema-specifications==2023.12.1
jupyter 
jupyter-console 
jupyter-events 
jupyter-lsp 
jupyter_client 
jupyter_core 
jupyter_server 
jupyter_server_terminals 
jupyterlab 
jupyterlab-pygments 
jupyterlab-widgets 
jupyterlab_server 
keras
kiwisolver==1.4.5
korean-lunar-calendar==0.3.1
libclang==16.0.6
lxml==5.1.0
lz4==4.3.3
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe 
matplotlib==3.8.2
matplotlib-inline 
mdurl==0.1.2
mistune 
ml-dtypes==0.2.0
mpmath==1.3.0
msgpack==1.0.3
multidict==6.0.4
multitasking==0.0.11
namex==0.0.7
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx==3.2.1
nltk==3.8.1
nodeenv==1.8.0
notebook 
notebook_shim 
numpy==1.26.3
nvidia-ml-py==12.535.133
oauthlib==3.2.2
opencensus==0.11.4
opencensus-context==0.1.3
opencv-python==4.9.0.80
opt-einsum==3.3.0
swig==4.1.1.post1
qdldl==0.1.7.post0
osqp==0.6.2
overrides 
packaging 
pandas==2.1.4
pandas-datareader==0.10.0
pandocfilters 
parso 
peewee==3.17.0
pexpect 
pillow==10.2.0
platformdirs 
pluggy==1.3.0
ply==3.11
pre-commit==3.6.0
prometheus-client 
prompt-toolkit 
protobuf==4.23.4
psutil 
psycopg2-binary==2.9.9
ptyprocess 
pure-eval 
py-spy==0.3.14
pyarrow==14.0.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pybind11==2.11.1
pycares==4.4.0
pycparser 
pydantic==2.5.3
pydantic_core==2.14.6
pyfolio==0.9.2
pygame==2.1.0
Pygments 
pyluach==2.2.0
PyMySQL==1.1.0
pyparsing==3.1.1
pyportfolioopt==1.5.5
sip 
# PyQt5==5.15.10
PyQt5-sip 
pytest==7.4.4
python-dateutil 
python-json-logger 
pytz 
PyYAML 
pyzmq 
qtconsole 
QtPy 
ray==2.9.0
recommonmark==0.7.1
referencing==0.32.1
regex==2023.12.25
requests 
requests-oauthlib==1.3.1
rfc3339-validator 
rfc3986-validator 
rich==13.7.0
rpds-py 
rsa==4.9
scikit-learn==1.3.2
scipy==1.11.4
scs==3.2.4.post1
seaborn==0.13.1
Send2Trash 
Shimmy==1.3.0
six 
smart-open==6.4.0
sniffio 
snowballstemmer==2.2.0
soupsieve 
Sphinx==7.2.6
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
spyder-kernels 
SQLAlchemy==1.4.51
stable_baselines3==2.3.0a1
stack-data
starlette==0.36.3
stockstats==0.5.4
sympy==1.12
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor==2.4.0
terminado 
threadpoolctl==3.2.0
thriftpy2==0.4.17
tinycss2 
tomli 
toolz==0.12.0
torch==2.1.2
tornado 
tqdm==4.66.1
traitlets==5.14.1
typing_extensions 
tzdata==2023.4
urllib3==1.26.18
uvicorn==0.27.1
virtualenv==20.21.0
wcwidth==0.2.13
webencodings==0.5.1
websocket-client
websockets==10.4
Werkzeug==3.0.1
widgetsnbextension 
wrapt==1.14.1
wrds==3.1.6
wurlitzer 
yarl==1.9.4

yfinance==0.2.35
exchange_calendars
zipp==3.17.0

alpaca_trade_api>=2.1.0
ccxt>=1.66.32  # make sure that >=1.66.32
elegantrl
exchange_calendars==3.6.3 # because raise exception with 4.1.1, success tested with 3.6.3
gputil
gymnasium
importlib-metadata==4.13.0
jqdatasdk
lz4
# plot
matplotlib
# data handling
numpy>=1.17.3
pandas>=1.1.5

#hooks
pre-commit
pyfolio

# testing requirements
pytest==7.4.4
ray==2.9.0
recommonmark==0.7.1

# packaging
setuptools>=65.5.0


# to build docs using sphinx
sphinx


# to build docs using sphinx
sphinx
sphinx_rtd_theme
sphinx_rtd_theme


SQLAlchemy
stable-baselines3==2.3.0a1
stockstats>=0.4.0
swig


tensorboardX
wheel>=0.33.6
wrds==3.1.6

# market data & paper trading API
yfinance
git+https://github.com/AI4Finance-LLC/FinRL-Library.git